commands:
    setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\(.value|@sh)"' > /etc/profile.d/sh.local

container_commands:
    01_migrate:
        command: "source $PYTHONPATH/activate && python manage.py migrate"
        leader_only: true
    
    01_collectstatic:
        command: "source $PYTHONPATH/activate && python manage.py collectstatic --no-input"

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: prototype3.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: staticfiles
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: prototype3.settings

files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/log/app-logs/django.log
            /var/log/cfn-init.log
